<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:fragment="main(title, content)">
<head>
	<meta charset="utf-8">
	  <!--utf-8：世界中の多くの言語の文字をエンコードするための国際的な文字エンコーディング規格の一つ-->
	  <!--エンコード：文字列をコンピュータが理解できるバイナリデータに変換するプロセス-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	  <!--http-equiv：HTTPヘッダーに相当する情報を指定する-->
	  <!--X-UA-Compatible：Internet Explorerのバージョンとの互換性モードを指定する-->
	  <!--IE=edge：最新の標準に従ったレンダリングする-->
	  <!--chrome=1：Google Chromeのエンジンを使用してページを表示する-->
	  <!--レンダリング：情報を視覚的な形式に変換するプロセス-->
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, use-scalable=0' name='viewport'> 
	  <!--content：meta要素が表す情報や設定の値を指定する-->
	  <!--width=device-width：デバイスの幅に合わせてページが自動的に拡大縮小する-->
	  <!--initial-scale=1.0：ページが最初から正常なサイズで表示されるようにする-->
	  <!--maximum-scale=1.0：ユーザーがページを拡大できる最大のズームレベル-->
	  <!--use-scalable=0：ユーザーがページを拡大縮小できなくなる-->
	  <!--name：meta要素がどの種類のメタデータを表すかを指定する-->
	  <!--viewport：ウェブページが様々なデバイスで適切に表示される-->
	<meta name="viewport" content="width=device-width">
	  <!--要素において、同じname属性を持つ複数の要素が存在する場合、最後に出現した要素が適用される-->
	  <!--そのため一行前のnameとcontentは無視される-->	  
	<title th:replace="${title}"></title>
	  <!--th:replace：各ページに異なるタイトルを置換する-->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	  <!--link：外部リソースを関連づける-->
	  <!--href：URLの指定（Bootstrap CSSファイル）-->
	  <!--BootStrap CSS：多くのCSSクラスとJavaScriptコンポーネントを提供するフレームワーク-->
	  <!--rel：リンクされているリソースの種類を示す-->
	<link href="https://cdn.jsdelivr.net/npm/paper-dashboard@1.1.0/assets/css/paper-dashboard.min.css" rel="stylesheet">
	  <!--Paper Dashboard core CSS：ウェブページやアプリケーションに組み込むことで、迅速かつ美しい管理用ダッシュボードを構築する-->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Muli:400,300" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css" rel="stylesheet">
	  <!--Fonts and icons：デザインの一貫性を維持する-->
	<link th:href="@{/css/library.css}" rel="stylesheet">
	  <!--Library CSS：ウェブデザインやアプリケーションデザインを効率的に実装する-->

</head>
<body>
	<div class="wrapper">
		<div th:replace="~{layouts/sidebar :: sidebar}"></div>
		  <!--"layouts/sidebar"テンプレート内の"sidebar"という名前のフラグメントを指定-->
		<div class="main-panel">
			<div th:replace="${content}"></div>
			  <!--"content"というフラグメントを参照-->
			<div th:replace="~{layouts/footer :: footer}"></div>
			  <!--"layouts/footer"テンプレート内の"footer"という名前のフラグメントを指定-->
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous">
	</script>
	  <!--script src=" "：ウェブページでjQueryの機能を使用できるようにする-->
	  <!--integrity：ファイルが改ざんされていないことを確認-->
	  <!--crossorigin：クロスオリジンのリクエストを許可するかどうかを制御-->
	  <!--anonymous：クロスオリジンリクエストを無効にする-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	  <!--Bootstrap JavaScriptファイルをウェブページに組み込む-->
</body>
</html>